.container{
width:415px;
margin: 50px auto;
border:5px solid black;
}

.output{
width: 400px; height:70px;
line-height:100px;
text-align: right;
margin-bottom: 10px
border:2px solid black;
font-size: 20px;
}

.output2{
width: 400px;
text-align:right;
font-size: 50px;
}

.buttonNum{
transition-duration:0.4s;
background-color:silver;
color: black; 
font-size: 50px;
border-radius: 8px;
width:100px; height:100px;
}
.buttonNum:hover{
background-color:#F8F6F5;
color: white;
}

.buttonZero{
background-color:silver;
color: black; font-size: 50px;
border-radius: 8px;
width:203px; height:100px;
transition-duration:0.4s;
}
.buttonZero:hover{
background-color: #F8F6F5;
color: white}

.buttonClear{
background-color:yellow;
color: black; font-size: 50px;
border-radius: 8px;
width:203px; height:100px;
transition-duration:0.4s;
}
.buttonClear:hover{
background-color: #fbfdd2;
color: white;
}

.buttonFunction,
.buttonEqual{
background-color:yellow;
color: black; font-size: 50px;
border-radius: 8px;
width:100px; height:100px;
transition-duration:0.4s;
}
.buttonFunction:hover,
.buttonEqual:hover{
background-color: #fbfdd2;
color: white;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #010079;
  text-shadow: 0 0 5px white;
  padding: 0.3em 0.5em;
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.calData{
    color: lavenderblush;
    background-color: orchid;
    border: deeppink;
    width: 50px; height: 30px;
}